@font-face {
	font-family: 'Podkova';
	src: url('/Podkova-Regular.ttf');
}

@font-face {
	font-family: 'Podkova-ExtraBold';
	src: url('/Podkova-ExtraBold.ttf');
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}